<div class="container">
   
       
          <div class="row">
            <div class="col-md-6">
              <p>Fecha de creacion {{ anio }} </p>
            </div>
            <div class="col-md-6">
              <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
              </ul>
            </div>
          </div>
      


    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Bootstrap

            <h1> Fecha de creacion {{ anio }} </h1>
          </a>
        </div>
      </nav>




</div>