/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
footer {
    background-color: #252121;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

/* Estilos para el texto del footer */
footer p {
    color: #f7f309;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

/* Estilos para los enlaces del footer */
footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}